:root {
  /* Light mode colors */
  --bg-color: #ffffff;
  --text-color: black;
  --link-color: magenta;
}

[data-theme="dark"] {
  /* Dark mode colors */
  --bg-color: #121212;
  --text-color: #ffffff;
  --link-color: magenta;
  --title-color: magenta;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--text-color)
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 400;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--title-color);
  font-size: 2.4em;
}
h2 {
  font-family: "Fira Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h3 {
  font-family: "Fira Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

