body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}
a {
    color: magenta;
    text-decoration: none;
    font-weight: 400;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: magenta;
  font-size: 2.4em;
}
h2 {
  font-family: "Fira Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h3 {
  font-family: "Fira Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

